
<div class="user-content">
    <h1 class="content-title">我的課程</h1>
    <div class="all-courses"> 
        <div class="completed-course"> 
            <div class="wrapper1">
                <div class="course-image"> 
                    <img class="image" src="assets/img/mkm-child.jpg" alt="course-image">
                </div>
                <div class="course-title"> 
                    <span class="title"> 我的第一個課程 </span>
                </div>
            </div>
            <div class="wrapper2">
                <div class="course-progress">
                    <span style="width: 40%">完成 40%</span>
                </div>
            </div>
        </div>

        <div class="completed-course"> 
            <div class="wrapper1">
                <div class="course-image"> 
                    <img class="image" src="assets/img/mkm-child.jpg" alt="course-image">
                </div>
                <div class="course-title"> 
                    <span class="title"> 我的第一個課程 </span>
                </div>
            </div>
            <div class="wrapper2">
                <div class="course-progress">
                    <span style="width: 40%">完成 40%</span>
                </div>
            </div>
        </div>

        <div class="completed-course"> 
            <div class="wrapper1">
                <div class="course-image"> 
                    <img class="image" src="assets/img/mkm-child.jpg" alt="course-image">
                </div>
                <div class="course-title"> 
                    <span class="title"> 我的第一個課程 </span>
                </div>
            </div>
            <div class="wrapper2">
                <div class="course-progress">
                    <span style="width: 40%">完成 40%</span>
                </div>
            </div>
        </div>

        <div class="completed-course"> 
            <div class="wrapper1">
                <div class="course-image"> 
                    <img class="image" src="assets/img/mkm-child.jpg" alt="course-image">
                </div>
                <div class="course-title"> 
                    <span class="title"> 我的第一個課程 </span>
                </div>
            </div>
            <div class="wrapper2">
                <div class="course-progress">
                    <span style="width: 40%">完成 40%</span>
                </div>
            </div>
        </div>

        <div class="completed-course"> 
            <div class="wrapper1">
                <div class="course-image"> 
                    <img class="image" src="assets/img/mkm-child.jpg" alt="course-image">
                </div>
                <div class="course-title"> 
                    <span class="title"> 我的第一個課程 </span>
                </div>
            </div>
            <div class="wrapper2">
                <div class="course-progress">
                    <span style="width: 40%">完成 40%</span>
                </div>
            </div>
        </div>

        <div class="completed-course"> 
            <div class="wrapper1">
                <div class="course-image"> 
                    <img class="image" src="assets/img/mkm-child.jpg" alt="course-image">
                </div>
                <div class="course-title"> 
                    <span class="title"> 我的第一個課程 </span>
                </div>
            </div>
            <div class="wrapper2">
                <div class="course-progress">
                    <span style="width: 40%">完成 40%</span>
                </div>
            </div>
        </div>

        <div class="completed-course"> 
            <div class="wrapper1">
                <div class="course-image"> 
                    <img class="image" src="assets/img/mkm-child.jpg" alt="course-image">
                </div>
                <div class="course-title"> 
                    <span class="title"> 我的第一個課程 </span>
                </div>
            </div>
            <div class="wrapper2">
                <div class="course-progress">
                    <span style="width: 40%">完成 40%</span>
                </div>
            </div>
        </div>


        <div class="completed-course"> 
            <div class="wrapper1">
                <div class="course-image"> 
                    <img class="image" src="assets/img/mkm-child.jpg" alt="course-image">
                </div>
                <div class="course-title"> 
                    <span class="title"> 我的第一個課程 </span>
                </div>
            </div>
            <div class="wrapper2">
                <div class="course-progress">
                    <span style="width: 40%">完成 40%</span>
                </div>
            </div>
        </div>

        <div class="completed-course"> 
            <div class="wrapper1">
                <div class="course-image"> 
                    <img class="image" src="assets/img/mkm-child.jpg" alt="course-image">
                </div>
                <div class="course-title"> 
                    <span class="title"> 我的第一個課程 </span>
                </div>
            </div>
            <div class="wrapper2">
                <div class="course-progress">
                    <span style="width: 40%">完成 40%</span>
                </div>
            </div>
        </div>
    </div>
</div>
