@import '~bootstrap/dist/css/bootstrap.min.css';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  overflow-x: hidden;
  }

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button .mat-icon {
  font-size: x-large !important;
  color: #ffc0bf !important;
}


.mat-input-element {
  color: #ffc0bf !important;
}

.mat-input-element {
  caret-color: #ffc0bf !important;
  font-size: 16px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: rgb(255 255 255) !important;
  font-size: 16px !important;
}

.mat-form-field-underline {
  /*change color of underline*/
  background-color: #fff !important;
}

.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: #ffc0bf !important;
}

.mat-dialog-container {
  padding-left: 15px !important;
  padding: 0px !important;
  overflow-x: hidden !important;
}

/* .md-dialog-container {
  height: 700px;
} */
.mkm-pass {
   height: 70px;
   width: 570px;
}




