.mkm-course-wrapper {
    border: 1px solid #89cbde;
    background: #ffffff;
}
.hidden-arrow {
    display: none;
}

.mkm-courses-img{
    padding-top: 60px;
    width: 100%;
  }
  
  .mkm-video-newcourse{
    margin: 30px auto;
    height: 405px !important;
    width: 390px !important;
    border: 1px solid #89cbde;
    margin-right: 40px;
  }
  
  .mkm-video-mycourse{
    margin: 30px auto;
    height: 405px !important;
    width: 390px !important;
    border: 1px solid #89cbde;
    margin-right: 40px;
  }
  
  .mkm-wrap-video{
    padding-right: 75px;
    padding-left: 75px;
    position: relative;
      overflow-x: hidden;
      overflow-y: hidden;
  }
  
  .mkm-wrap-video-inside{
    display: flex;
    padding-top: 60px;
      box-sizing: border-box;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }

.mkm-prev .mkm-left-arrow{
    left: 15px;
    top: 47%;
    }
    
    .mkm-prev .mkm-right-arrow{
    right: 15px;
    top: 47%;
    }

    .mkm-wrap-video-inside::-webkit-scrollbar {
        display: none;
      }
      
      .mkm-empty{
        width: 1px;
        content: '.';
        visibility: hidden;
      }
      
      .mkm-image-course{
        height: 250px;
        border-bottom: 3px solid #5d98aa;
        display: block;
        /* background: url('../../assets/img/mkm-taiwan.jpg') no-repeat center; */
        background-size: cover;
      }
      
      .mkm-image-content{
        max-width: 100%;
        min-height: 247px;
        position: relative;
      }
      
      .mkm-video-play{
        position: absolute;
        top:20px
      }
      
      ngb-rating {
        padding-right: 10px;
        font-size: 21px;
        color:rgba(255, 202, 38, 1);
      }
      
      .mkm-course-rate{
        display: flex;
        padding-top: 15px;
        padding-right: 15px;
        padding-left: 15px;
      }
      
      .mkm-course-info{
        display: flex;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 7px;
      }
      
      .mkm-course-profile-picture{
        border-radius: 43px;
        border: 3px solid #5d98aa;
        width: 55px;
        height: 55px;
      }
      
      .mkm-course-info-picture{
        margin-right: 25px;
      }
      
      .mkm-course-info-title-style{
        color: #5d98aa;
        font-weight: bold;
        font-size: 30px;
      }
      
      .mkm-course-info-section{
        display: block;
        width: 100%;
      }
      
      .mkm-course-info-category-style{
        color: #5d98aa;
        font-weight: bold;
        font-size: 17px;
      }
      
      .mkm-course-time-info{
        float: right;
        color: #7d7d7d;
        font-size: 15px;
      }
      
      .mkm-discussion{
        color: #5d98aa;
      }
      
      .mkm-course-progress{
        display: flex;
        height: 45px;  /* Can be anything */
        background: #fff;
        border-radius: 25px;
      }
      
        .mkm-course-progress .progress{
          display: block;
          height: 100%;
          border-radius: 40px;
          background-color: rgb(255 192 190);
          color: #fff;
          padding: 22px;
          font-size: 20px;
        }
        .mkm-course-progress .progress-style {
          padding: 13px;
          font-size: 20px;
          color: #ffbfbd;
        }
      
      .mkm-course-progress-bar{
        padding-top: 10px;
      }
      
      .mkm-mouse{
        width: 45px;
        margin-top: -5px;
      }
      
      .mkm-prev-left{
        cursor: pointer;
        padding-top: 155px;
      }
      
      .mkm-prev-right{
        cursor: pointer;
        padding-top: 155px;
      }
      
      .mkm-slider{
        width: 60px;
      }

      .arrow{
        cursor: pointer;
        position: absolute;
          top: 0;
          bottom: 0;
          width: 3em;
      }
@media screen and (max-width: 280px) {

    .mkm-course-wrapper {
        height: 480px;
    }
    .mkm-course-info {
        display: block;
    }
}
@media screen and (max-width: 700px) {
    .mkm-course-info-title-style {
        font-size: 16px !important;
      }
    
    .mkm-course-info-category-style {
        font-size: 12px !important;
    }

    .mkm-course-progress .progress {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 1200px) {
    .mkm-course-info-title-style {
        font-size: 25px;
      }
    
    .mkm-course-info-category-style {
        font-size: 14px;
    }
}