<div class="mkm-container-sidebar">

    <div class="mkm-sidebar">
        <!-- <img class="mkm-account-left" src="assets/img/mkm-account-sidebar.png" alt="mkm-account-left">
        <img class="mkm-account-right" src="assets/img/mkm-account-right.png" alt="mkm-account-right"> -->

        <div class="mkm-account-profile"> 
            <img class="mkm-mouse" src="assets/img/mkm-ico.png" alt="mouse">
            <img class="mkm-profile-picture" src="{{user.photoURL}}" alt="{{user.displayName}}">
        </div>

        <div class="mkm-username"> 
            <h1 class="mkm-username-style"> {{user.displayName}} </h1>
        </div>

        <div class="mkm-account-links">
            
            <a href="#">個人檔案</a>
            <a href="#">訂單紀錄</a>
            <a href="#">課程總覽</a>
            <a href="#">收藏文章</a>

        </div>
    </div>

    <div class="mkm-page-content"> 
        
    </div>

</div>
