<div class="mkm-container-sidebar">

    <div class="mkm-sidebar">
        <!-- <img class="mkm-account-left" src="assets/img/mkm-account-sidebar.png" alt="mkm-account-left">
        <img class="mkm-account-right" src="assets/img/mkm-account-right.png" alt="mkm-account-right"> -->

        <div  *ngIf="user" class="mkm-account-profile"> 
            <!-- <img class="mkm-mouse" src="assets/img/mkm-ico.png" alt="mouse"> -->
            <img *ngIf="user.photoURL; else defaultImage" class="mkm-profile-picture" src="{{user.photoURL}}" alt="{{user.displayName}}">
            <ng-template #defaultImage>
              <img class="mkm-profile-picture" src="assets/img/mkm-ico.png" alt="{{user.displayName}}">
            </ng-template>
        </div>

        <div *ngIf="user" class="mkm-username"> 
            <h1 class="mkm-username-style"> {{user.displayName}} </h1>
        </div>

        <div class="mkm-account-links">
            <ul> 
                <li [ngClass]="{'activateLink': selectedItem === item}" *ngFor="let item of sideBarItem" (click)="listClick($event, item)">{{ item }}</li>
            </ul>
        </div>
    </div>

    <div [ngClass]="{'tableWidth': orderRecord === true}" class="mkm-page-content"> 
        <div [ngClass]="{'tab': orderRecord === false}" class="user-content">
            <h1 class="content-title">訂單紀錄</h1>

            <div class="top mat-elevation-z8">
              <table mat-table [dataSource]="dataSource">
            
                <!-- Position Column -->
                <ng-container matColumnDef="courseBought">
                  <th mat-header-cell *matHeaderCellDef> 訂購課程 </th>
                  <td mat-cell *matCellDef="let element"> {{element.courseBought}} </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef> 付款金額 </th>
                  <td mat-cell *matCellDef="let element"> ${{element.amount}} </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="paymentMethod">
                  <th mat-header-cell *matHeaderCellDef> 付款方式 </th>
                  <td mat-cell *matCellDef="let element"> {{element.paymentMethod}} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="orderedTime">
                  <th mat-header-cell *matHeaderCellDef> 訂單時間 </th>
                  <td mat-cell *matCellDef="let element"> {{element.orderedTime}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="orderStatus">
                  <th mat-header-cell *matHeaderCellDef> 訂單狀況 </th>
                  <td mat-cell *matCellDef="let element"> {{element.orderStatus}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[6]" showFirstLastButtons></mat-paginator>
            </div>
        </div>

        <div [ngClass]="{'tab': courseOverview === false}" class="user-content">
            <h1 class="content-title">課程總覽</h1>
            <div class="all-courses"> 
              <div class="completed-course"> 
                <div class="course-image"> 
                  <img class="image" src="assets/img/mkm-child.jpg" alt="course-image">
                </div>
                <div class="course-title"> 
                  <span class="title"> 我的第一個課程 </span>
                </div>
                <div class="course-progress">
                  <span style="width: 40%">完成 40%</span>
                </div>
              </div>

              <div class="completed-course"> 

              </div>

              <div class="completed-course"> 

              </div>

              <div class="completed-course"> 

              </div>
            </div>
        </div>

        <div [ngClass]="{'tab': favoriteArticles === false}" class="user-content">
            <h1 class="content-title">收藏文章</h1>
        </div>

        <div [ngClass]="{'tab': changePassword === false}" class="user-content">
          <div class="content"> 
              <h1 class="content-title">修改密碼</h1>
          </div>
          <div *ngIf="error"> 
            <h3 class="change-password"> <span class="material-icons icon">
              dangerous
              </span> {{error}}</h3>
          </div>
          <div *ngIf="success"> 
            <h3 class="success-password"> <span class="material-icons icon">
              verified_user
              </span> {{success}}!!!</h3>
          </div>
          <div class="container"> 
              <div class="row">
        
                  <form id="passwordForm" 
                        autocomplete="off" 
                        [formGroup]="frmSetNewPassword" 
                        (ngSubmit)="setPassword()" 
                        class="mykidsmentor-form">
              
                    <div class="mykidsmentor-form-element">

                      <div class="row">
                        <input type="password" 
                               placeholder="舊密碼" 
                               name="password" 
                               autocomplete="on" 
                               formControlName="oldPassword">
                      </div>

                      <div class="row">
                          <input type="password" 
                                 placeholder="新密碼" 
                                 name="password" 
                                 autocomplete="on" 
                                 formControlName="newPassword">
                      </div>
              
                      <div class="row">
                        <input type="password" 
                               placeholder="再輸入一次密碼" 
                               name="confirmPassword" 
                               autocomplete="on" 
                               formControlName="confirmPassword">
                      </div>
              
                      <div class="row mkm-button">
                        <div class="col">
                          
                        </div>
              
                        <div class="col mkm-button-right">
                          <button class="mkm-login-button mkm-label" type="submit" [disabled]="!frmSetNewPassword.valid">存</button>
                        </div>
                      </div>
              
                    </div>
                  </form>
              </div>
          </div>
      </div>
    </div>

</div>

<div *ngIf="isLoading" class="loading"></div>
