<div #scrollBehavior class="mkm-home-wrapper"> 

  <div class="container-full mykidsmentor-intro" id="mkm-intro-animation">
  </div>

  <div class="container-full mkm-flow">

    <div style="display: flex;">
      <div class="step-arrow">
        <img src="assets/img/mkm-double-arrow.png" alt="mkm-triangle">
      </div>
      <div class="mkm-flow-title">
        <span>購買課程步驟</span>
      </div>
    </div>
    <div class="mkm-steps">

      <div [ngClass]="{zy2: isZhuyinBool}" class="mkm-flow-step">
        註冊或登入
      </div>
      
      <div class="mkm-flow-step-triangle">
        <img *ngIf="(isSmallScreenValue | async); else showTriangle" src="assets/img/mkm-triangle.png" alt="mkm-triangle">
        <ng-template #showTriangle>
          <img class="mkm-triangle-down" src="assets/img/mkm-triangle-down.png" alt="mkm-triangle">
        </ng-template>
  
      </div>
  
      <div [ngClass]="{zy2: isZhuyinBool}" class="mkm-flow-step">
        選購課程
      </div>
  
      <div class="mkm-flow-step-triangle">
        <!-- <img [src]="isSmallScreen ?  : 'assets/img/mkm-triangle.png' " alt="mkm-triangle"> -->
        <img *ngIf="(isSmallScreenValue | async); else showTriangle" src="assets/img/mkm-triangle.png" alt="mkm-triangle">
        <ng-template #showTriangle>
          <img src="assets/img/mkm-triangle-down.png" alt="mkm-triangle">
        </ng-template>
      </div>
  
      <div [ngClass]="{zy2: isZhuyinBool}" class="mkm-flow-step">
        終身享有課程
      </div>

    </div>

  </div>

  <div class="mkm-courses">

    <img *ngIf="(isSmallScreenBanner | async); else showMouse" class="mkm-courses-img" src="assets/img/mkm-mycourses.png" alt="mkm-triangle">
      <ng-template #showMouse>
        <img class="mkm-courses-img" src="assets/img/mkm-mycourses-banner.png" alt="mkm-mycourses">
      </ng-template>

      <div class="mkm-slide-wrapper">
        <app-slideshow *ngIf="courses" [courses] = "courses"></app-slideshow>
      </div>

  </div>

  <div class="mkm-courses">

    <img *ngIf="(isSmallScreenBanner | async); else showMouse" class="mkm-courses-img" src="assets/img/mkm-new-courses.png" alt="mkm-triangle">
      <ng-template #showMouse>
        <img class="mkm-courses-img" src="assets/img/mkm-new-courses-banner.png" alt="mkm-mycourses">
      </ng-template>

    <div class="mkm-slide-wrapper">
      <app-slideshow *ngIf="courses" [courses] = "courses"></app-slideshow>
    </div>

  </div>

  <div class="mkm-game">

    <ng-container *ngIf="isZhuyinBool; else notZhuyin"> 
      <img class="mkm-courses-img" src="assets/img/mkm-game-zhuyin.png" alt="mkm-game">
    </ng-container>
    <ng-template #notZhuyin> 
      <img *ngIf="(isSmallScreenBanner | async); else showMouse" class="mkm-courses-img" src="assets/img/mkm-connect-four-game.png" alt="mkm-triangle">
      <ng-template #showMouse>
        <img class="mkm-courses-img" src="assets/img/mkm-game-banner.png" alt="mkm-game">
      </ng-template>
    </ng-template>
    

      <section class="wrapper">
        <div class="center">
          <h1 class="mkm-game-title">心伴鼠鼠四子連線遊戲</h1>
          <h3 class="mkm-game-description"> 遊戲說明：分為兩位玩家，雙方輪流把心伴鼠鼠放入棋盤，先將四個連成一條線的獲勝！<br>
            *每一隻心伴鼠鼠都會從最底部開始疊放。<br>
            *無論直、橫、斜的方式都能連成一條線。<br>
            *玩家可以輸入自己的暱稱喔！</h3>
          <div id="top-text" class="top-text">
            <h2 class="primary">
              <span class="mkm-game-description" id="prefix">目前玩家： </span>
              <span class="mkm-game-description" id="current-player" contenteditable="true">玩家 1</span>
            </h2>
            <h3 class="secondary">
              <span class="player">預備玩家： </span>
              <span class="player" id="other-player" contenteditable="true">玩家 2</span>
            </h3>
          <div id="play-again" class="play-again">
            <a href="#" class="play-again-btn" id="play-again-btn">再玩一次</a>
          </div>
        </div>
        <table id="board" class="board">
          <tbody>
            <tr>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
            </tr>
            <tr>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
            </tr>
            <tr>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
            </tr>
            <tr>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
            </tr>
            <tr>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
            </tr>
            <tr>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
              <td><button type="button"></button></td>
            </tr>
          </tbody>
        </table>
      </div>
      </section>

      
  </div>

</div>




