<div class="container-full">
  <div (click)="close(false)" class="mykidsmentor-cancel">
    <div class="mykidsmentor-line line1"></div>
    <div class="mykidsmentor-line line2"></div>
    <div class="mykidsmentor-line3 line3"></div>
  </div>
  <div *ngIf="!isSmallScreen; else showMobileLoginPic" class="row">
    <img class="mykidsmentor-signup" src="assets/img/mkm-signup.png" alt="mykidsmentor_login">
  </div>

  <ng-template #showMobileLoginPic>
    <div class="row">
      <img class="mykidsmentor-signup-mobile-pic" src="assets/img/mkm-signup.png" alt="mykidsmentor_login">
    </div>
  </ng-template>
</div>

<div class="container">
  <div class="row mkm-dialog-title">
    <h1 class=""> 註冊 </h1>
  </div>
  <div class="row">

      <span class="mkm-login-error" *ngIf="error">{{ error }}</span>

    <form #formData="ngForm" (ngSubmit)="onSubmit(formData)" class="mykidsmentor-form">

      <div class="mykidsmentor-form-element">

        <div class="row">
          <input type="text" placeholder="姓名 Full name" name="firstname" #name="ngModel" ngModel required firstname>
        </div>

        <div class="row">
          <input type="text" placeholder="電子信箱 E-mail" name="email" #email="ngModel" ngModel required email>
        </div>

        <div class="row">
          <input type="password" placeholder="密碼 Password" name="password" autocomplete="on" #password="ngModel" ngModel required minlength="5"
          maxlength="30">
        </div>

        <div class="row mkm-button">
            <button class="mkm-login-button mkm-label" type="submit">註冊</button>
        </div>

        <div class="row mkm-account">
          <span> 有建立帳號嗎？<a (click)="close(true)" class="mykidsmentor-account"> 登入帳號 </a>  </span>
        </div>

        <div class="row">
          <div class="or-line">
            <hr><span class="mkm-space"> 或是用 </span><hr>
          </div>
        </div>

        <div class="container-full">

          <div class="row">

            <div class="col">
              <div class="mkm-social">
                <a (click)="onUserLoginWithFb()"> <img style="height: 30px;" src="assets/img/facebook-login.png" alt="">帳號登入</a>
              </div>

            </div>

            <div class="col">
              <div class="mkm-social">
                <a (click)="onUserLoginWithGoogle()"> <img style="height: 30px;" src="assets/img/google-login.png" alt="">帳號登入</a>
              </div>
            </div>

          </div>

        </div>

      </div>
    </form>
  </div>

</div>

<div *ngIf="isLoading" class="loading"></div>


