<h1 class="content-title">訂單紀錄</h1>

<div class="top mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="courseBought">
      <th mat-header-cell *matHeaderCellDef> 訂購課程 </th>
      <td mat-cell *matCellDef="let element"> {{element.courseBought}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> 付款金額 </th>
      <td mat-cell *matCellDef="let element"> ${{element.amount}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="paymentMethod">
      <th mat-header-cell *matHeaderCellDef> 付款方式 </th>
      <td mat-cell *matCellDef="let element"> {{element.paymentMethod}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="orderedTime">
      <th mat-header-cell *matHeaderCellDef> 訂單時間 </th>
      <td mat-cell *matCellDef="let element"> {{element.orderedTime}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="orderStatus">
      <th mat-header-cell *matHeaderCellDef> 訂單狀況 </th>
      <td mat-cell *matCellDef="let element"> {{element.orderStatus}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[6]" showFirstLastButtons></mat-paginator>
</div>