<header>
    <nav>
      <div class="mykidsmentor-nav-elements">

        <div class="mykidsmentor-hamburger">
          <div class="mykidsmentor-line line1"></div>
          <div class="mykidsmentor-line line2"></div>
          <div class="mykidsmentor-line line3"></div>
        </div>

        <div class="mykidsmentor-nav-elements-row">

          <div class="mykidsmentor-logo">
            <img class="mykidsmentor-logo-size" src="assets/img/my_kids_mentor_official_logo.png">
          </div>

          <div class="mykidsmentor-nav">
            <div class="mykidsmentor-nav-row1">
                <div class="row justify-content-end">
                  <div class="col-5">
                    <mat-form-field class="search-form-field" floatLabel="never">
                      <input matInput [(ngModel)]="searchKey" placeholder="搜 尋" autocomplete="off">
                      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="!searchKey">
                        <mat-icon>search</mat-icon>
                      </button>
                      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey" (click)="onSearchClear()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="col-4 col-sm-3">
                    <input type="radio" name="rdo" id="yes">
                    <input type="radio" name="rdo" id="no" checked>
                    <div class="mykidsmentor-switch">
                      <label for="yes">注音版</label>
                      <label for="no">無注音版</label>
                      <span></span>
                    </div>
                  </div>
                  <div class="col-4">

                    <ul class="mykidsmentor-social-icons">
                      <li class="mykidsmentor-social-icons-elements">
                        <img class="mykidsmentor-social" src="assets/img/facebook.png" alt="facebook">
                      </li>
                      <li class="mykidsmentor-social-icons-elements">
                        <img class="mykidsmentor-social" src="assets/img/instagram.png" alt="instagram">
                      </li>
                      <!-- <li class="mykidsmentor-username-icon">
                        <img class="mykidsmentor-social" src="assets/img/mykidsmentor-account.png" alt="mykidsmentor account">
                      </li>
                      <b class="mykidsmentor-username">Hi, 米克羅</b>
                      <a href="#signup" class="mykidsmentor-button">登出</a> -->
                      <a href="#login" class="mykidsmentor-button">登入</a>
                      <a href="#signup" class="mykidsmentor-button">註冊</a>
                    </ul>

                  </div>
                </div>
            </div>
            <div class="mykidsmentor-nav-row2">
              <ul class="mykidsmentor-nav-links">
                <li class="mykidsmentor-register">
                  <ul class="mykidsmentor-auth">
                    <li class="mykidsmentor-main-link-register mykidsmentor-login"><a class="mykidsmentor-main-link-size" href="#login">登入</a></li>
                    <li class="mykidsmentor-main-link-register mykidsmentor-signup"><a class="mykidsmentor-main-link-size" href="#signup">註冊</a></li>
                  </ul>
                </li>
                <li class="mykidsmentor-main-link">
                  <a class="mykidsmentor-main-link-size" href="#course">課程</a>
                  <div class="mykidsmentor-dropdown-content">
                    <a href="#">最新影片</a>
                    <a href="#">熱門影片</a>
                    <a href="#">分類影片</a>
                    <a class="mykidsmentor-last" href="#">其他課程</a>
                  </div>
                </li>
                <li class="mykidsmentor-main-link"><a class="mykidsmentor-main-link-size" href="#blog">文章</a></li>
                <li class="mykidsmentor-main-link"><a class="mykidsmentor-main-link-size" href="#about">關於</a></li>
                <li class="mykidsmentor-main-link"><a class="mykidsmentor-main-link-size" href="#contact">聯絡</a></li>
                <li class="mykidsmentor-main-link"><a class="mykidsmentor-main-link-size" href="#membership">會員</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-full mykidsmentor-desktop-quotes">
      <div class="row mykidsmentor-qoutes-background">
        <div class="col-sm-4 mykidsmentor-qoutes">
          2020年8月31日  31C
        </div>
        <div class="col-8 mykidsmentor-qoutes">
          我們會成功的， 要繼續努力， 好不好？
        </div>
      </div>
    </div>

    <div class="container-full mykidsmentor-mobile-date">

       <div class="col-12">
        2020年8月31日  31C
       </div>

    </div>

    <div class="container-full mykidsmentor-mobile-quotes">
      <div class="col-12">
        我們會成功的， 要繼續努力， 好不好？ 我們會成功的， 要繼續努力， 好不好？我們會成功的， 要繼續努力， 好不好？
      </div>

    </div>

</header>
