<header>
    <nav>
      <div class="mkm-nav-elements">

        <div class="mkm-hamburger">
          <div class="mkm-line line1"></div>
          <div class="mkm-line line2"></div>
          <div class="mkm-line line3"></div>
        </div>

        <div class="mkm-nav-elements-row">

          <div class="mkm-logo">
            <img class="mkm-logo-size" src="assets/img/my_kids_mentor_official_logo.png">
          </div>

          <div class="mkm-nav">
            <div class="mkm-nav-row1">
                <div class="row justify-content-end">
                  <div class="col-5">
                    <mat-form-field class="search-form-field" floatLabel="never">
                      <input matInput [(ngModel)]="searchKey" placeholder="搜 尋" autocomplete="off">
                      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="!searchKey">
                        <mat-icon>search</mat-icon>
                      </button>
                      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey" (click)="onSearchClear()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="col-4 col-sm-3">
                    <input type="radio" name="rdo" id="yes">
                    <input type="radio" name="rdo" id="no" checked>
                    <div class="mkm-switch">
                      <label for="yes">注音版</label>
                      <label for="no">無注音版</label>
                      <span></span>
                    </div>
                  </div>
                  <div class="col-4">

                    <ul class="mkm-social-icons">
                      <li class="mkm-social-icons-elements">
                        <img class="mkm-social" src="assets/img/facebook.png" alt="facebook">
                      </li>
                      <li class="mkm-social-icons-elements">
                        <img class="mkm-social" src="assets/img/instagram.png" alt="instagram">
                      </li>
                      <!-- <li class="mkm-username-icon">
                        <img class="mkm-social" src="assets/img/mkm-account.png" alt="mkm account">
                      </li>
                      <b class="mkm-username">Hi, 米克羅</b>
                      <a href="#signup" class="mkm-button">登出</a> -->
                      <a href="#login" class="mkm-button">登入</a>
                      <a href="#signup" class="mkm-button">註冊</a>
                    </ul>

                  </div>
                </div>
            </div>
            <div class="mkm-nav-row2">
              <ul class="mkm-nav-links">
                <li class="mkm-register">
                  <ul class="mkm-auth">
                    <li class="mkm-main-link-register mkm-login"><a class="mkm-main-link-size" href="#">登入</a></li>
                    <li class="mkm-main-link-register mkm-signup"><a class="mkm-main-link-size" href="#">註冊</a></li>
                  </ul>
                </li>
                <li class="mkm-main-link"><a class="mkm-main-link-size" href="#">課程</a></li>
                <li class="mkm-main-link"><a class="mkm-main-link-size" href="#">文章</a></li>
                <li class="mkm-main-link"><a class="mkm-main-link-size" href="#">關於</a></li>
                <li class="mkm-main-link"><a class="mkm-main-link-size" href="#">聯絡</a></li>
                <li class="mkm-main-link"><a class="mkm-main-link-size" href="#">會員</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container-full mkm-desktop-quotes">
      <div class="row mkm-qoutes-background">
        <div class="col-sm-4 mkm-qoutes">
          2020年8月31日  31C
        </div>
        <div class="col-8 mkm-qoutes">
          我們會成功的， 要繼續努力， 好不好？
        </div>
      </div>
    </div>

    <div class="container-full mkm-mobile-date">

       <div class="col-12">
        2020年8月31日  31C
       </div>

    </div>

    <div class="container-full mkm-mobile-quotes">
      <div class="col-12">
        我們會成功的， 要繼續努力， 好不好？ 我們會成功的， 要繼續努力， 好不好？我們會成功的， 要繼續努力， 好不好？
      </div>

    </div>

</header>
