<header>
    <nav>
      <div class="mykidsmentor-nav-elements">

        <div class="mykidsmentor-hamburger">
          <div class="mykidsmentor-line line1"></div>
          <div class="mykidsmentor-line line2"></div>
          <div class="mykidsmentor-line line3"></div>
        </div>

        <div class="mykidsmentor-nav-elements-row">

          <div id="mkm-logo" class="mykidsmentor-logo">
          <a routerLink="/"> <img class="mykidsmentor-logo-size" src="assets/img/mkm-official-logo.png"> </a>
          </div>

          <div class="mykidsmentor-nav">
            <div class="mykidsmentor-nav-row1">
                <div class="row justify-content-end">
                  <div class="col-5">
                    <mat-form-field class="search-form-field" floatLabel="never">
                      <input #autoCompleteInput 
                            matInput 
                            [formControl]="myControl" 
                            placeholder="搜 尋"
                            (keyup.enter)="inputOnEnter($event.target.value)"
                            [matAutocomplete]="auto">
                      <mat-autocomplete autoActiveFirstOption 
                                        #auto="matAutocomplete"
                                        (optionSelected)="searchMade($event.option)">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="!myControl.value">
                        <mat-icon>search</mat-icon>
                      </button>
                      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="myControl.value" (click)="onSearchClear()">
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                  <div class="col-4 col-sm-3">
                    <input (change)="isZhuyin($event)" id="yesZhuyin" type="radio" name="rdo" id="yes">
                    <input (change)="isNotZhuyin($event)" type="radio" name="rdo" id="no" checked>
                    <div class="mykidsmentor-switch">
                      <label [ngClass]="{zy2: zhuyinValue}" for="yes">注音版</label>
                      <label [ngClass]="{zy2: zhuyinValue}" for="no">無注音版</label>
                      <span></span>
                    </div>
                  </div>
                  <div class="col-4">

                    <ul class="mykidsmentor-social-icons">
                      <li class="mykidsmentor-social-icons-elements">
                        <a target="_blank" href="https://www.facebook.com/兒童心伴課程平台-My-Kids-Mentor-101006101760403/">
                          <img class="mykidsmentor-social" src="assets/img/facebook.png" alt="facebook">
                        </a>
                      </li>
                      <li class="mykidsmentor-social-icons-elements">
                        <a target="_blank" href="https://instagram.com/my_kids_mentor?igshid=1lplmftiw1v7h">
                          <img class="mykidsmentor-social" src="assets/img/instagram.png" alt="instagram">
                        </a>
                      </li>
                      <ng-template [ngIf]="user">

                        <li class="mykidsmentor-username-icon">
                          <img *ngIf="user.photoURL; else showpic" class="mykidsmentor-user-picture" src="{{user.photoURL}}" alt="mykidsmentor-account">
                          <ng-template #showpic> <img  class="mykidsmentor-social" src="assets/img/mkm-ico.png" alt="{{user.displayName}}"> </ng-template>
                          <div class="mykidsmentor-dropdown-content-user">
                            <a [ngClass]="{zy2: zhuyinValue}" routerLink="/user/account-info" >帳戶資料</a>
                            <a [ngClass]="{zy2: zhuyinValue}" routerLink="/user/mycourse">我的課程</a>
                            <a [ngClass]="{zy2: zhuyinValue}" routerLink="/user/blog">收藏文章</a>
                            <a [ngClass]="{zy2: zhuyinValue}" routerLink="/user/order-history">歷史訂單</a>
                            <a [ngClass]="{zy2: zhuyinValue}" routerLink="/user/changepassword">修改密碼</a>
                            <a [ngClass]="{zy2: zhuyinValue}" *ngIf="userDb?.isAdmin" routerLink="/user/admin-courses">課程管理</a>
                            <a [ngClass]="{zy2: zhuyinValue}" class="mykidsmentor-last" (click)="userLogout()">登出</a>
                          </div>
                          <b *ngIf="user.displayName; else showEmail" class="mykidsmentor-username">{{ (user.displayName.length > 19)? (user.displayName | slice:0:19)+'...':(user.displayName)}}</b>
                          <ng-template #showEmail><b class="mykidsmentor-username">{{ (user.email.length > 19)? (user.email | slice:0:19)+'..':(user.email)}}</b></ng-template>
                        </li>

                      </ng-template>

                      <ng-template [ngIf]="!user">

                        <a [ngClass]="{zy2: zhuyinValue}" (click)="openLoginDialog()" class="mykidsmentor-button">登入</a>
                        <a [ngClass]="{zy2: zhuyinValue}" (click)="openSignupDialog()" class="mykidsmentor-button">註冊</a>

                      </ng-template>


                    </ul>

                  </div>
                </div>
            </div>
            <div class="mykidsmentor-nav-row2">
              <ul [ngClass]="{'toggleLand': toggleValue === false}" class="mykidsmentor-nav-links">

                <div class="mykidsmentor-register">

                    <ng-template [ngIf]="user">

                      <div class="mykidsmentor-username-info">
                        <img *ngIf="user.photoURL; else showpic" class="mykidsmentor-user-picture" src="{{user.photoURL}}" alt="mykidsmentor account">
                        <ng-template #showpic> <img  class="mykidsmentor-social" src="assets/img/mkm-account.png" alt="{{user.displayName}}"> </ng-template>

                        <b *ngIf="user.displayName; else showEmail" class="mykidsmentor-username">{{ (user.displayName.length > 20)? (user.displayName | slice:0:20)+'..':(user.displayName)}}</b>
                        <ng-template #showEmail><b class="mykidsmentor-username">{{ (user.email.length > 19)? (user.email | slice:0:19)+'..':(user.email)}}</b></ng-template>
                        <div class="mykidsmentor-dropdown-content-user">
                          <a [ngClass]="{zy2: zhuyinValue}" routerLink="user/account-info">帳戶資料</a>
                          <a [ngClass]="{zy2: zhuyinValue}" routerLink="/user/mycourse">我的課程</a> 
                          <a [ngClass]="{zy2: zhuyinValue}" routerLink="/user/blog">收藏文章</a>
                          <a [ngClass]="{zy2: zhuyinValue}" routerLink="/user/order-history">歷史訂單</a>
                          <a [ngClass]="{zy2: zhuyinValue}" routerLink="/user/changepassword">修改密碼</a>
                          <a [ngClass]="{zy2: zhuyinValue}" class="mykidsmentor-last" (click)="userLogout()">登出</a>
                        </div>
                      </div>

                    </ng-template>

                    <ng-template [ngIf]="!user">
                      <div class="mykidsmentor-auth"> </div>
                        <a [ngClass]="{zy2: zhuyinValue}" class="mykidsmentor-mobile-login" (click)="openLoginDialog()">登入</a>
                        <a [ngClass]="{zy2: zhuyinValue}" class="mykidsmentor-mobile-login" (click)="openSignupDialog()">註冊</a>
                    </ng-template>


                </div>
                <li class="mykidsmentor-main-link">
                  <a [ngClass]="{zy2: zhuyinValue}" class="mykidsmentor-main-link-size"> 課程 </a>
                  <div id="mykidsmentor-close" class="mykidsmentor-dropdown-content">
                    <a [ngClass]="{zy2: zhuyinValue}" *ngIf="!user; else showcourse" routerLink="/new-course">最新課程</a>
                    <ng-template #showcourse> <a routerLink="/new-course">最新課程</a> </ng-template>
                    <a [ngClass]="{zy2: zhuyinValue}" routerLink="/popular-course">熱門課程</a>
                    <a [ngClass]="{zy2: zhuyinValue}" class="mykidsmentor-last" href="#">分類課程</a>
                  </div>
                </li>
                <li class="mykidsmentor-main-link">
                  <a [ngClass]="{zy2: zhuyinValue}" class="mykidsmentor-main-link-size" href="#blog">文章</a>
                  <div class="mykidsmentor-dropdown-content">
                    <a [ngClass]="{zy2: zhuyinValue}" href="#">最新文章</a>
                    <a [ngClass]="{zy2: zhuyinValue}" href="#">熱門文章</a>
                    <a [ngClass]="{zy2: zhuyinValue}" class="mykidsmentor-last" href="#">分類文章</a>
                  </div>
                </li>
                <li class="mykidsmentor-main-link">
                  <a [ngClass]="{zy2: zhuyinValue}" class="mykidsmentor-main-link-size" href="#about">關於</a>
                  <div class="mykidsmentor-dropdown-content">
                    <a [ngClass]="{zy2: zhuyinValue}" href="#">心伴理念</a>
                    <a [ngClass]="{zy2: zhuyinValue}" href="#">服務項目</a>
                    <a [ngClass]="{zy2: zhuyinValue}" class="mykidsmentor-last" href="#">師資介紹</a>
                  </div>
                </li>
                <li class="mykidsmentor-main-link">
                  <a [ngClass]="{zy2: zhuyinValue}" class="mykidsmentor-main-link-size" href="#contact">聯絡</a>
                </li>
                <!-- <li class="mykidsmentor-main-link">
                  <a [ngClass]="{zy2: zhuyinValue}" class="mykidsmentor-main-link-size" href="#membership">會員</a>
                  <div class="mykidsmentor-dropdown-content">
                    <a [ngClass]="{zy2: zhuyinValue}" href="#">會員中心</a>
                    <a [ngClass]="{zy2: zhuyinValue}" href="#">加入會員</a>
                    <a [ngClass]="{zy2: zhuyinValue}" class="mykidsmentor-last" (click)="openLoginDialog()">會員登入</a>
                  </div>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div *ngIf="searching" class="container-full mykidsmentor-desktop-quotes">
      <div class="row mykidsmentor-qoutes-background">
        <div class="col-sm-4 mykidsmentor-qoutes">
         <span [ngClass]="{zy2: zhuyinValue}">  {{yearNav}}年{{monthNav}}月{{dayNav}}日 </span>
        </div>
        <div [ngClass]="{zy2: zhuyinValue}" class="col-8 mykidsmentor-qoutes">
          我們會成功的， 要繼續努力， 好不好？ ——— 小鹿
        </div>
      </div>
    </div>

    <div class="container-full mykidsmentor-mobile-date">

       <div [ngClass]="{zy2: zhuyinValue}" class="col-12">
        {{yearNav}}年{{monthNav}}月{{dayNav}}日
       </div>

    </div>

    <div class="container-full mykidsmentor-mobile-quotes">
      <div [ngClass]="{zy2: zhuyinValue}" class="col-12">
        我們會成功的， 要繼續努力， 好不好？ 我們會成功的， 要繼續努力， 好不好？我們會成功的， 要繼續努力， 好不好？
      </div>

    </div>

</header>
