<div class="user-content"> 
    <div class="content"> 
        <h1 class="content-title">修改密碼</h1>
    </div>
    <div *ngIf="error"> 
    <h3 class="change-password"> <span class="material-icons icon">
        dangerous
        </span> {{error}}</h3>
    </div>
    <div *ngIf="success"> 
    <h3 class="success-password"> <span class="material-icons icon">
        verified_user
        </span> {{success}}!!!</h3>
    </div>
    <div class="container"> 
        <div class="row">

            <form id="passwordForm" 
                autocomplete="off" 
                [formGroup]="frmSetNewPassword" 
                (ngSubmit)="setPassword()" 
                class="mykidsmentor-form">
        
            <div class="mykidsmentor-form-element">

                <div class="row">
                <input type="password" 
                        placeholder="舊密碼" 
                        name="password" 
                        autocomplete="on" 
                        formControlName="oldPassword">
                </div>

                <div class="row">
                    <input type="password" 
                        placeholder="新密碼" 
                        name="password" 
                        autocomplete="on" 
                        formControlName="newPassword">
                </div>
        
                <div class="row">
                <input type="password" 
                        placeholder="再輸入一次密碼" 
                        name="confirmPassword" 
                        autocomplete="on" 
                        formControlName="confirmPassword">
                </div>
        
                <div class="row mkm-button">
                <div class="col">
                    
                </div>
        
                <div class="col mkm-button-right">
                    <button [ngClass]="{'disabled': !frmSetNewPassword.valid}" class="mkm-login-button mkm-label" type="submit" [disabled]="!frmSetNewPassword.valid">儲存</button>
                </div>
                </div>
        
            </div>
            </form>
        </div>
    </div>
</div>  