<div class="blog-content">
    <h1 class="blog-title">收藏文章</h1>
    <div class="all-articles">
        <div class="article">
            <div class="wrapper1">
                <div class="article-image">
                    <img src="assets/img/mkm-child.jpg" alt="article-image" class="image">
                </div>
            </div>
            <div class="wrapper2"> 
                <div class="article-title">
                    <span class="title"> 我看見你的努力，謝謝妳 </span> <b *ngIf="isSmallScreen | async">/</b> <span class="title">作者： 鄧鈺馨</span>
                </div>
                <div class="article-action"> 
                    <div class="article-view">
                        <span class="text">卻看全文</span>
                    </div>
                    <div class="article-share">
                        <span class="material-icons">
                            share
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="article">
            <div class="wrapper1">
                <div class="article-image">
                    <img src="assets/img/mkm-child.jpg" alt="article-image" class="image">
                </div>
            </div>
            <div class="wrapper2"> 
                <div class="article-title">
                    <span class="title"> 我看見你的努力，謝謝妳 </span> <b *ngIf="isSmallScreen | async">/</b> <span class="title">作者： 鄧鈺馨</span>
                </div>
                <div class="article-action"> 
                    <div class="article-view">
                        <span class="text">卻看全文</span>
                    </div>
                    <div class="article-share">
                        <span class="material-icons">
                            share
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="article">
            <div class="wrapper1">
                <div class="article-image">
                    <img src="assets/img/mkm-child.jpg" alt="article-image" class="image">
                </div>
            </div>
            <div class="wrapper2"> 
                <div class="article-title">
                    <span class="title"> 我看見你的努力，謝謝妳 </span> <b *ngIf="isSmallScreen | async">/</b> <span class="title">作者： 鄧鈺馨</span>
                </div>
                <div class="article-action"> 
                    <div class="article-view">
                        <span class="text">卻看全文</span>
                    </div>
                    <div class="article-share">
                        <span class="material-icons">
                            share
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="article">
            <div class="wrapper1">
                <div class="article-image">
                    <img src="assets/img/mkm-child.jpg" alt="article-image" class="image">
                </div>
            </div>
            <div class="wrapper2"> 
                <div class="article-title">
                    <span class="title"> 我看見你的努力，謝謝妳 </span> <b *ngIf="isSmallScreen | async">/</b> <span class="title">作者： 鄧鈺馨</span>
                </div>
                <div class="article-action"> 
                    <div class="article-view">
                        <span class="text">卻看全文</span>
                    </div>
                    <div class="article-share">
                        <span class="material-icons">
                            share
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="article">
            <div class="wrapper1">
                <div class="article-image">
                    <img src="assets/img/mkm-child.jpg" alt="article-image" class="image">
                </div>
            </div>
            <div class="wrapper2"> 
                <div class="article-title">
                    <span class="title"> 我看見你的努力，謝謝妳 </span> <b *ngIf="isSmallScreen | async">/</b> <span class="title">作者： 鄧鈺馨</span>
                </div>
                <div class="article-action"> 
                    <div class="article-view">
                        <span class="text">卻看全文</span>
                    </div>
                    <div class="article-share">
                        <span class="material-icons">
                            share
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="article">
            <div class="wrapper1">
                <div class="article-image">
                    <img src="assets/img/mkm-child.jpg" alt="article-image" class="image">
                </div>
            </div>
            <div class="wrapper2"> 
                <div class="article-title">
                    <span class="title"> 我看見你的努力，謝謝妳 </span> <b *ngIf="isSmallScreen | async">/</b> <span class="title">作者： 鄧鈺馨</span>
                </div>
                <div class="article-action"> 
                    <div class="article-view">
                        <span class="text">卻看全文</span>
                    </div>
                    <div class="article-share">
                        <span class="material-icons">
                            share
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="article">
            <div class="wrapper1">
                <div class="article-image">
                    <img src="assets/img/mkm-child.jpg" alt="article-image" class="image">
                </div>
            </div>
            <div class="wrapper2"> 
                <div class="article-title">
                    <span class="title"> 我看見你的努力，謝謝妳 </span> <b *ngIf="isSmallScreen | async">/</b> <span class="title">作者： 鄧鈺馨</span>
                </div>
                <div class="article-action"> 
                    <div class="article-view">
                        <span class="text">卻看全文</span>
                    </div>
                    <div class="article-share">
                        <span class="material-icons">
                            share
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="article">
            <div class="wrapper1">
                <div class="article-image">
                    <img src="assets/img/mkm-child.jpg" alt="article-image" class="image">
                </div>
            </div>
            <div class="wrapper2"> 
                <div class="article-title">
                    <span class="title"> 我看見你的努力，謝謝妳 </span> <b *ngIf="isSmallScreen | async">/</b> <span class="title">作者： 鄧鈺馨</span>
                </div>
                <div class="article-action"> 
                    <div class="article-view">
                        <span class="text">卻看全文</span>
                    </div>
                    <div class="article-share">
                        <span class="material-icons">
                            share
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="article">
            <div class="wrapper1">
                <div class="article-image">
                    <img src="assets/img/mkm-child.jpg" alt="article-image" class="image">
                </div>
            </div>
            <div class="wrapper2"> 
                <div class="article-title">
                    <span class="title"> 我看見你的努力，謝謝妳 </span> <b *ngIf="isSmallScreen | async">/</b> <span class="title">作者： 鄧鈺馨</span>
                </div>
                <div class="article-action"> 
                    <div class="article-view">
                        <span class="text">卻看全文</span>
                    </div>
                    <div class="article-share">
                        <span class="material-icons">
                            share
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="article">
            <div class="wrapper1">
                <div class="article-image">
                    <img src="assets/img/mkm-child.jpg" alt="article-image" class="image">
                </div>
            </div>
            <div class="wrapper2"> 
                <div class="article-title">
                    <span class="title"> 我看見你的努力，謝謝妳 </span> <b *ngIf="isSmallScreen | async">/</b> <span class="title">作者： 鄧鈺馨</span>
                </div>
                <div class="article-action"> 
                    <div class="article-view">
                        <span class="text">卻看全文</span>
                    </div>
                    <div class="article-share">
                        <span class="material-icons">
                            share
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="article">
            <div class="wrapper1">
                <div class="article-image">
                    <img src="assets/img/mkm-child.jpg" alt="article-image" class="image">
                </div>
            </div>
            <div class="wrapper2"> 
                <div class="article-title">
                    <span class="title"> 我看見你的努力，謝謝妳 </span> <b *ngIf="isSmallScreen | async">/</b> <span class="title">作者： 鄧鈺馨</span>
                </div>
                <div class="article-action"> 
                    <div class="article-view">
                        <span class="text">卻看全文</span>
                    </div>
                    <div class="article-share">
                        <span class="material-icons">
                            share
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>