.search-result {
    height: 150px;
    background: #ffc0bf;
    width: 100%;
    padding: 30px;
    display: flex;
}

.left {
    width: 35%;
    height: 100%;
}

    .left .keyword {

    }

        .left .keyword .text {
            color: #ffffff;
            font-size: 15px;
            margin-right: 5px;
        }

        .left .keyword .comma {
            color: #ffffff;
            margin-right: 10px;
        }
        
        .left .keyword .result {
            color: #707070;
            font-size: 15px;
        }
    
    .left .switch {
        display: flex;
        background-color: #ffffff;
        border-radius: 45px;
        margin-top: 25px;
        padding: 2px;
        width: 60%;
        position: relative;
    }

        .left .switch .blog {
            border-top-right-radius: 45px;
            background: #8acbde;
            padding: 10px;
            width: 50%;
            border-bottom-right-radius: 45px;
            border-left: 1px solid #ffffff;
            text-align: center;
            color: #707070;
            font-size: 19px;
            outline: none;
            cursor: pointer;
        }

        .left .switch .active-img-pink {
            width: 45px;
            position: absolute;
            left: -4%;
            top: -40%;
        }

        .left .switch .active-img-blue {
            width: 45px;
            position: absolute;
            top: -40%;
            left: 89%;
        }

        .left .switch .course {
            border-top-left-radius: 45px;
            background: #ffc0be;
            padding: 10px;
            width: 50%;
            border-bottom-left-radius: 45px;
            border-right: 1px solid #ffffff;
            text-align: center;
            color: #707070;
            font-size: 19px;
            outline: none;
            cursor: pointer;
        }


.right {
    width: 65%;
    height: 100%;
}

.activatedLink {
    color: #ffffff !important;
    outline: none;
}

.activatedLink:focus {
    outline: none;
}

.img {
    width: 150px;
}

.right .mkm-steps {
    display: flex;
  }
  
  .right .mkm-flow-title {
    padding: 15px 0px 15px 0px;
    color: #ffffff;
    width: 154px;
    border-radius: 15px;
    background-color: #88cbde;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0px 9px 6px 0px #00000036;
    margin: 0px 0px 13px 0px;
    line-height: 2px;
  }
  
  .right .step-arrow {
    margin-right: 30px;
  }
  
  .mkm-flow-step{
    color: #ffc0bf;
    margin: 0 auto;
    width: 194px;
    border-radius: 26px;
    background-color: #ffff;
    text-align: center;
    padding: 13px;
    height: 46px;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 0px 9px 6px 0px #00000036;
    line-height: 18px;
  }
  
  .mkm-flow-step-triangle{
    text-align: center;
  }

  .mkm-course-time-info {
    float: none;
  
  }